*,
*::before,
*::after {
  -webkit-box-sizing: 0;
          box-sizing: 0;
  margin: 0;
  padding: 0;
}

html,
body {
  line-height: 1.5;
}

body {
  background: #fff;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;
  color: #26d2f1;
}

img {
  width: 100%;
  max-width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-grid {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-none {
  display: none;
}

.container {
  width: clamp(16rem, 90vw, 70rem);
  margin: 0 auto;
}

.btn__primary-outline, .btn__primary, .btn {
  display: inline-block;
  padding: 0.5em 2em;
  cursor: pointer;
  font-family: inherit;
  border-radius: 0.275em;
  border: none;
  outline: none;
  background: transparent;
  margin: 0.25em 0;
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.btn__primary-outline:active, .btn__primary:active, .btn:active {
  outline: none;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
.btn__primary-outline:hover, .btn__primary:hover, .btn:hover {
  opacity: 0.8;
}

.btn__primary {
  background-color: #007ea7;
  color: #ebebeb;
}

.btn__primary-outline {
  background: transparent;
  border: 1px solid #ebebeb;
  color: #ebebeb;
}

.nav {
  padding: 1em 0;
  border-bottom: 1px solid #f4f4f4;
}
.nav .container.d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav .fa-solid {
  color: #a72900;
  margin-right: 0.1em;
}
.nav__logo {
  font-size: 2rem;
  color: #00171f;
}
.nav__list.show {
  max-height: 30em;
}
.nav__item {
  margin-right: 1em;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  font-size: 1rem;
  color: #00171f;
}
.nav__link:hover {
  opacity: 0.8;
}
.nav__link.current {
  color: #a72900;
}
.nav__contact a {
  color: #00171f;
  font-weight: bold;
}
.nav .dropdown-parent {
  position: relative;
}
.nav .dropdown-parent:focus + .dropdown {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.nav .dropdown {
  position: absolute;
  background: #fff;
  border: 1px solid #f4f4f4;
  opacity: 0;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  pointer-events: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  z-index: 10;
}
.nav .dropdown li {
  cursor: pointer;
  padding: 0.5em 2em;
  border-bottom: 1px solid #f4f4f4;
}
.nav .dropdown li:last-child {
  border-bottom: none;
}
.nav .dropdown li:hover {
  background-color: #ebebeb;
}
.nav .dropdown a {
  text-align: left;
  color: #00171f;
}

@media only screen and (max-width: 900px) {
  .nav__contact {
    display: none;
  }
  .nav__hamburger {
    display: block;
    justify-self: center;
    cursor: pointer;
  }
  .nav__hamburger .line {
    width: 25px;
    height: 2px;
    background: #00171f;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
  }
  .nav__hamburger .line:last-child {
    margin-bottom: 0;
  }
  .nav__hamburger.close .line2 {
    opacity: 0;
  }
  .nav__hamburger.close .line1 {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
  }
  .nav__hamburger.close .line3 {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
  }
  .nav__list {
    position: absolute;
    left: 0;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-height: 0;
    background-color: #00171f;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: hidden;
    -webkit-transition: max-height 500ms;
    transition: max-height 500ms;
  }
  .nav__item {
    margin-right: 0;
    padding: 0.5em 1em;
    border-bottom: 1px solid hsl(195deg, 100%, 10%);
    width: 100%;
  }
  .nav__link {
    color: #ebebeb;
  }
  .nav .dropdown-parent:focus + .dropdown {
    max-height: 30em;
  }
  .nav .dropdown {
    position: relative;
    left: -5%;
    background-color: #00171f;
    border: none;
    opacity: 1;
    pointer-events: all;
    max-height: 0;
    overflow: hidden;
  }
  .nav .dropdown li {
    padding: 0.5em 1.5em;
    background-color: none;
    border-bottom: 1px solid hsl(195deg, 100%, 10%);
  }
  .nav .dropdown li:hover {
    background-color: transparent;
  }
  .nav .dropdown a {
    color: #ebebeb;
  }
}
.hero {
  width: 100%;
  margin: auto;
  position: relative;
}
.hero #prevBtn {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  color: #ebebeb;
  padding: 1em;
}
.hero #nextBtn {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  color: #ebebeb;
  padding: 1em;
}
.hero .pagination {
  position: absolute;
  top: 87%;
  left: 0;
  right: 0;
  margin: auto;
}
.hero .circle {
  cursor: pointer;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.5em;
  border-radius: 50%;
  background-color: #ebebeb;
  opacity: 0.5;
  z-index: 10;
}
.hero .circle--active {
  opacity: 1;
}
.hero .circle:last-child {
  margin-right: 0;
}
.hero__slides {
  width: 100%;
  min-height: 20em;
}
.hero__slide {
  width: 100%;
  position: absolute;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}
.hero__title {
  font-family: "Yellowtail", cursive;
  font-size: 3.5rem;
  color: #ebebeb;
}
.hero__subtitle {
  font-family: 2rem;
  color: #ebebeb;
  margin-bottom: 1em;
}
.hero__slide1 {
  background: url("../images/gulmarg.webp") no-repeat center center/cover, -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)));
  background: url("../images/gulmarg.webp") no-repeat center center/cover, linear-gradient(to bottom rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
}
.hero__slide2 {
  background: url("../images/pehalgam.webp") no-repeat center center/cover, -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: url("../images/pehalgam.webp") no-repeat center center/cover, linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
}
.hero__slide3 {
  background: url("../images/sonamarg.webp") no-repeat center center/cover, -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: url("../images/sonamarg.webp") no-repeat center center/cover, linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
}

@media only screen and (min-width: 900px) {
  .hero__slides {
    min-height: 28em;
  }
  .hero__title {
    font-size: 5rem;
  }
  .hero__subtitle {
    font-size: 1.25rem;
  }
}