*,
*::before,
*::after {
  -webkit-box-sizing: 0;
          box-sizing: 0;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  line-height: 1.5;
}

body {
  background: #fff;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

a {
  text-decoration: none;
  outline: none;
  color: #26d2f1;
}

img {
  width: 100%;
  max-width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

.container {
  width: clamp(16rem, 90vw, 70rem);
  margin: 0 auto;
}

.divider {
  width: 5em;
  height: 3px;
  border-radius: 1em;
  background: #007ea7;
}

.section__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.section__divider {
  margin: 1em auto 2em;
}

@media screen and (min-width: 900px) {
  .section__divider {
    margin: 1em auto 2em;
  }
}
.btn__primary-outline, .btn__primary, .btn {
  display: inline-block;
  padding: 0.5em 2em;
  cursor: pointer;
  font-family: inherit;
  border-radius: 0.275em;
  border: none;
  outline: none;
  background: transparent;
  margin: 0.25em 0;
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.btn__primary-outline:active, .btn__primary:active, .btn:active {
  outline: none;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
.btn__primary-outline:hover, .btn__primary:hover, .btn:hover {
  opacity: 0.8;
}

.btn__primary {
  background-color: #007ea7;
  color: #ebebeb;
}

.btn__primary-outline {
  background: transparent;
  border: 1px solid #ebebeb;
  color: #ebebeb;
}

.pckg {
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 0 5px 5px #f4f4f4;
          box-shadow: 0 5px 5px #f4f4f4;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}
.pckg:hover img {
  -webkit-transform: scale(2);
          transform: scale(2);
}
.pckg__img {
  overflow: hidden;
}
.pckg__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.pckg__info {
  padding: 0.5em 1em 1em;
}
.pckg__title {
  font-family: "Oswald", sans-serif;
  color: #5b5b5b;
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}
.pckg__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: #a72900;
  margin-bottom: 0.5em;
  font-weight: 300;
}
.pckg__bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 1em;
}
.pckg__price {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  color: #a72900;
  font-weight: 400;
}
.pckg__text {
  color: #999;
  line-height: 1.375;
  font-size: 0.9rem;
  margin-bottom: 0.5em;
  text-align: justify;
}

.nav {
  padding: 1em 0;
  border-bottom: 1px solid #f4f4f4;
  background: #fff;
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
}
.nav__scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ebebeb;
  z-index: 500;
}
.nav .container.d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav .fa-solid {
  color: #a72900;
  margin-right: 0.1em;
}
.nav__logo {
  font-size: 2rem;
  color: #00171f;
}
.nav__list.show {
  max-height: 30em;
}
.nav__item {
  margin-right: 1em;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  font-size: 1rem;
  color: #00171f;
}
.nav__link:hover {
  opacity: 0.8;
}
.nav__link.current {
  color: #a72900;
}
.nav__contact a {
  color: #00171f;
  font-weight: bold;
}
.nav .dropdown-parent {
  position: relative;
}
.nav .dropdown-parent:focus + .dropdown {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.nav .dropdown {
  position: absolute;
  background: #fff;
  border: 1px solid #f4f4f4;
  opacity: 0;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  pointer-events: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  z-index: 10;
}
.nav .dropdown li {
  cursor: pointer;
  padding: 0.5em 2em;
  border-bottom: 1px solid #f4f4f4;
}
.nav .dropdown li:last-child {
  border-bottom: none;
}
.nav .dropdown li:hover {
  background-color: #ebebeb;
}
.nav .dropdown a {
  text-align: left;
  color: #00171f;
}

@media only screen and (max-width: 900px) {
  .nav__contact {
    display: none;
  }
  .nav__hamburger {
    display: block;
    justify-self: center;
    cursor: pointer;
  }
  .nav__hamburger .line {
    width: 25px;
    height: 2px;
    border-radius: 1em;
    background: #00171f;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
  }
  .nav__hamburger .line:last-child {
    margin-bottom: 0;
  }
  .nav__hamburger.close .line2 {
    opacity: 0;
  }
  .nav__hamburger.close .line1 {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
  }
  .nav__hamburger.close .line3 {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
  }
  .nav__list {
    position: absolute;
    left: 0;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-height: 0;
    background-color: #00171f;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: hidden;
    -webkit-transition: max-height 500ms;
    transition: max-height 500ms;
  }
  .nav__item {
    margin-right: 0;
    padding: 0.5em 1em;
    border-bottom: 1px solid hsl(195deg, 100%, 10%);
    width: 100%;
  }
  .nav__link {
    color: #ebebeb;
  }
  .nav .dropdown-parent:focus + .dropdown {
    max-height: 30em;
  }
  .nav .dropdown {
    position: relative;
    left: -5%;
    background-color: #00171f;
    border: none;
    opacity: 1;
    pointer-events: all;
    max-height: 0;
    overflow: hidden;
  }
  .nav .dropdown li {
    padding: 0.5em 1.5em;
    background-color: none;
    border-bottom: 1px solid hsl(195deg, 100%, 10%);
  }
  .nav .dropdown li:hover {
    background-color: transparent;
  }
  .nav .dropdown a {
    color: #ebebeb;
  }
}
.hero {
  width: 100%;
  margin: auto;
  position: relative;
  min-height: 20em;
  overflow: hidden;
}
.hero #prevBtn {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  color: #ebebeb;
  padding: 1em;
}
.hero #nextBtn {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  color: #ebebeb;
  padding: 1em;
}
.hero .pagination {
  position: absolute;
  top: 87%;
  left: 0;
  right: 0;
  margin: auto;
}
.hero .circle {
  cursor: pointer;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.5em;
  border-radius: 50%;
  background-color: #ebebeb;
  opacity: 0.5;
  z-index: 10;
}
.hero .circle--active {
  opacity: 1;
}
.hero .circle:last-child {
  margin-right: 0;
}
.hero__slides {
  width: 100%;
  min-height: 20em;
}
.hero__slide {
  width: 100%;
  position: absolute;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}
.hero__title {
  font-family: "Yellowtail", cursive;
  font-size: 3.5rem;
  color: #ebebeb;
}
.hero__subtitle {
  font-family: 2rem;
  color: #ebebeb;
  margin-bottom: 1em;
}
.hero__slide1 {
  background: url("../images/gulmarg.webp") no-repeat center center/cover, -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)));
  background: url("../images/gulmarg.webp") no-repeat center center/cover, linear-gradient(to bottom rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
}
.hero__slide2 {
  background: url("../images/pehalgam.webp") no-repeat center center/cover, -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: url("../images/pehalgam.webp") no-repeat center center/cover, linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
}
.hero__slide3 {
  background: url("../images/sonamarg.webp") no-repeat center center/cover, -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: url("../images/sonamarg.webp") no-repeat center center/cover, linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 900px) {
  .hero__slides {
    min-height: 28em;
  }
  .hero .pagination {
    top: 20%;
    right: -95%;
    margin: 0;
    gap: 0.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .pagination .circle {
    margin: 0;
  }
  .hero__content {
    margin-top: -5em;
  }
  .hero__title {
    font-size: 5rem;
  }
  .hero__subtitle {
    font-size: 1.25rem;
  }
}
.booking__form:nth-child(1) {
  grid-area: one;
}

.booking__form:nth-child(2) {
  grid-area: two;
}

.booking__form:nth-child(3) {
  grid-area: three;
}

.booking__form:nth-child(4) {
  grid-area: four;
}

.booking__form:nth-child(5) {
  grid-area: five;
}

.booking__form:nth-child(6) {
  grid-area: six;
}

.booking__form:nth-child(7) {
  grid-area: seven;
}

.booking__form:nth-child(8) {
  grid-area: eight;
}

.booking {
  padding: 2em 0 4em;
  position: relative;
  overflow: visible;
  background: #fff;
}
.booking h3 {
  font-weight: 300;
  font-size: 1.5rem;
}
.booking .divider {
  margin-top: 0.5em;
  margin-bottom: 1.75em;
}
.booking__form {
  border-top: 1px solid #f4f4f4;
  background-color: #fff;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 5px 5px #ebebeb;
          box-shadow: 0 5px 5px #ebebeb;
  padding: 1em;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-template-areas: "one" "two" "three" "four" "five" "six" "seven" "eight";
  gap: 0.5em;
}
@media screen and (min-width: 900px) {
  .booking {
    padding-bottom: 8em;
  }
  .booking h3,
.booking .divider {
    display: none;
  }
  .booking .booking__form {
    position: absolute;
    top: -80%;
    left: 10%;
    right: 10%;
    -webkit-box-shadow: 0 5px 5px -5px #ebebeb;
            box-shadow: 0 5px 5px -5px #ebebeb;
    grid-template-areas: "one two three four" "five six seven eight";
  }
}
.booking__form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
}
.booking__form__group:last-child {
  padding: 0;
  display: grid;
  place-items: center;
}
.booking__form__group:last-child button {
  width: 100%;
  padding: 1em;
}
.booking label {
  margin-bottom: 0.5em;
}
.booking select {
  cursor: pointer;
}
.booking select,
.booking input {
  border: 1px solid #ebebeb;
  padding: 1em;
  font-family: inherit;
  background-color: transparent;
  color: #333;
}
.booking select:focus,
.booking input:focus {
  outline: 1px solid #007ea7;
}
.booking #travelDate {
  cursor: pointer;
}
.booking input[type=date]::before {
  color: #999;
  content: attr(placeholder);
}
.booking input[type=date]:focus::before {
  content: "" !important;
}

.kashmir__feature:nth-child(1) {
  grid-area: one;
}

.kashmir__feature:nth-child(4) {
  grid-area: four;
}

.kashmir__feature:nth-child(5) {
  grid-area: five;
}

.kashmir__img:nth-child(2) {
  grid-area: two;
}

.kashmir__img:nth-child(3) {
  grid-area: three;
}

.kashmir__img:nth-child(6) {
  grid-area: six;
}

.kashmir {
  position: relative;
  border-top: 1px solid #ebebeb;
  padding: 3em 0 0;
  background-color: #fff;
}
.kashmir__img-1 {
  background: url("../images/hotel.webp") no-repeat center center/cover;
}
.kashmir__img-2 {
  background: url("../images/trekking.webp") no-repeat center center/cover;
}
.kashmir__img-3 {
  background: url("../images/experience.webp") no-repeat center center/cover;
}
.kashmir__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  padding: 2em;
  background: #fff;
}
.kashmir__feature h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 0.75em;
  letter-spacing: 0.15em;
  color: hsl(0deg, 0%, 20%);
}
.kashmir__feature p {
  line-height: 1.3;
  font-size: 1rem;
  padding: 0;
  color: #999;
}
.kashmir__grid {
  display: grid;
  grid-template-areas: "one" "two" "four" "three" "five" "six";
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}

@media screen and (min-width: 900px) {
  .kashmir__grid {
    grid-template-areas: "one two" "three four" "five six";
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
  }

  .kashmir__feature {
    padding: 6em;
  }
  .kashmir__feature p {
    padding: 0 5em;
  }
}
.footer {
  background: #00171f;
  color: #ebebeb;
  padding: 2em 0 0;
}
.footer .d-grid {
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
}
.footer__logo {
  font-family: "Oswald", sans-serif;
  font-size: 1.75rem;
}
.footer__col-2 h2, .footer__col-3 h2, .footer__col-4 h2 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #a72900;
  margin-bottom: 0.25em;
}
.footer__col-2 a, .footer__col-3 a, .footer__col-4 a {
  color: #999;
  font-size: 0.9rem;
}
.footer__col-2 a:hover, .footer__col-3 a:hover, .footer__col-4 a:hover {
  opacity: 0.8;
}
.footer__col-2 i, .footer__col-3 i, .footer__col-4 i {
  color: #999;
}
.footer p {
  color: #999;
  font-size: 0.9rem;
  padding: 2em 0;
}

@media screen and (min-width: 900px) {
  .footer {
    padding: 3em 0 0;
  }
  .footer .d-grid {
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 1.6em;
  }
  .footer p {
    text-align: center;
    padding: 2em 0;
  }
}
.loader__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #ebebeb;
  z-index: 100;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.loader__hide {
  opacity: 0;
  pointer-events: none;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #007ea7;
  -webkit-animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.loader div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.loader div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.packages {
  padding: 2em 0;
}
.packages .container > .d-grid {
  grid-template-columns: repeat(31 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 2em;
}
.packages .pckg__all {
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
  margin-top: 2em;
}
.packages .pckg__all a {
  text-decoration: underline;
}

@media screen and (min-width: 900px) {
  .packages .container > .d-grid {
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
  }
}