*,
*::before,
*::after {
  -webkit-box-sizing: 0;
          box-sizing: 0;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  line-height: 1.5;
}

body {
  background: #fff;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;
  color: #26d2f1;
}

img {
  width: 100%;
  max-width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-grid {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-none {
  display: none;
}

.container {
  width: clamp(16rem, 90vw, 70rem);
  margin: 0 auto;
}

.nav {
  padding: 1em 0;
}
.nav .container.d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav .fa-solid {
  color: #a72900;
  margin-right: 0.1em;
}
.nav__logo {
  font-size: 2rem;
  color: #00171f;
}
.nav__item {
  margin-right: 1em;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  font-size: 1rem;
  color: #00171f;
}
.nav__link:hover {
  opacity: 0.8;
}
.nav__link.current {
  color: #a72900;
}
.nav__contact a {
  color: #00171f;
  font-weight: bold;
}